
body{
    font-family: "Poppins",sans-serif;
}
header img{
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}


.card ul>li{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}
img{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}
@media screen and (min-width: 700px){
    header{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
    }
    header img{
        width: 400px;
    }
    
    .pricing{
        display: flex;
        flex-wrap: wrap; 
        justify-content:center;
    }
    .card{
        width: 300px;
        justify-content:center;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap; 
        justify-content:center;
    }
    .gallery img{
        width: 300px; 
    }
}


@media screen and (prefers-reduced-motion: reduce){
    header img{
        animation: none;
    }   
    
}